<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->

	<!-- Filters -->
	<filter>
		<filter-name>gwtCacheControlFilter</filter-name>
		<filter-class>org.feno.estimate.server.GWTCacheControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>gwtCacheControlFilter</filter-name>
		<url-pattern>*.nocache.js</url-pattern>
		<url-pattern>*.nocache.html</url-pattern>
		<url-pattern>*.gwt.rpc</url-pattern>
	</filter-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
